<!--{% extends "base.html" %}-->
<!--{% block title %}Log-in{% endblock %}-->
<!--{% block content %}-->
<!--    <h1>Вход в систему</h1>-->
<!--    <p>Введите ваши данные для авторизации:</p>-->
<!--    <form action="." method="post">-->
<!--        {{ form.as_p }}-->
<!--        {% csrf_token %}-->
<!--        <p><input type="submit" value="Войти"></p>-->
<!--    </form>-->
<!--{% endblock %}-->





<!--из registration -->

<!--{% extends 'base.html' %} &nbsp;{% block content %}-->
<!--<h2>Log In</h2>-->
<!--<form method="post">-->
<!--  {% csrf_token %}-->
<!--  {{ form.as_p }}-->
<!--  <button type="submit">Log In</button>-->
<!--</form>-->
<!--{% endblock content %}-->